<% @messages.each do |m| %>
    <div class="message">
        <strong><%= m.user.name %> <%= m.user.lastname %></strong> dijo:
        <%= m.body %>
        <% if  m.avatar_file_name != nil %>
        <br>
        <%= image_tag m.avatar.url(:medium) %>
        <br>
        <% end %>
        <small>el <%= l m.created_at, format: :short %></small>
        <hr>
    </div>
<% end %>
