<% @messages.each do |m| %>
<div id="message-to-delete-id<%= m.id %>">
  <div class="chats">
    <div>
      <div class="chat-user">
        <div class="like">
          <% if m.likes.count > 0 %>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="like-count"> <%= m.likes.count %></span>  
          <% end %>
        </div>
        <div class="user-name">
          <% if current_user.language == "spanish" %>
            <%= m.user.name %> <%=m.user.lastname %> dijo:
          <% else %>
            <%= m.user.name %> <%=m.user.lastname %> said:
          <% end %>
          </div>
          <% if m.user == current_user %>
            <div>
              <%= link_to message_path(m.id), :method => "delete" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <div class="message-body">
        <%= m.body %>
        <% if m.link != nil %>
          <%= link_to m.link, m.link, :target => '_blank' %>
        <% end %> 
        <% if m.document_file_name != nil %>
          <% if current_user.language == "spanish" %>
            <p>Descargar el archivo: <%= link_to m.document_file_name, download_path(m.id, Message) %></p>
          <% else %>
            <p>Download the file: <%= link_to m.document_file_name, download_path(m.id, Message) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="message-image">
        <% if m.avatar_file_name != nil %>
          <br>
          <%= image_tag m.avatar.url(:medium) %>
          <br>
        <% end %>
      </div>
      <div class="message-fin">
        <small>el <%= l m.created_at, format: :short %></small>
      </div>
    </div>
  </div>
  <%= render "comments/all", locals: { forum: "message", chat: m }  %>
  <div class="comment">
    <div class="add-like">
      <% if m.likes.where(user_id: current_user).count == 0 %>
        <%= link_to likes_path(model: Message, id: m.id), :class => "likeable", remote: true do %>
          <% if current_user.language == "spanish" %>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"> Me Gusta</i>
          <% else %>
            <i class="fa fa-thumbs-o-up" aria-hidden="true"> Like</i>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="show-comments">
      <% if current_user.language == "spanish" %>
        <i class="fa fa-comment-o" aria-hidden="true"> Comentar</i>
      <% else %>
        <i class="fa fa-comment-o" aria-hidden="true"> Comment</i>
      <% end %>
    </div>
    <%= render "comments/new", locals: { message: m } %>
  </div>
</div>
<br>
<% end %>