<div class="comments">
  <%= form_for :comment, url: comments_path, remote: "true" do |f| %>
    <p>
      <% if @language %>
        <%= f.text_field :text, :class => "comment-text" , :placeholder => "Escribe aquí..." %>
      <% else %>
        <%= f.text_field :text, :class => "comment-text" , :placeholder => "Write here..." %>
      <% end %>
    </p>
    <% if locals[:chat] %>
      <%= hidden_field_tag "chat", locals[:chat].id %>
    <p class="button-submit">
      <%= f.submit "Guardar", :class => "submit-chat-#{locals[:chat].id}" %>
    </p>
    <% elsif locals[:talk] %>
      <%= hidden_field_tag "talk", locals[:talk].id %>
    <p class="button-submit">
      <%= f.submit "Guardar", :class => "submit-talk-#{locals[:talk].id}" %>
    </p>
    <% elsif locals[:message] %>
      <%= hidden_field_tag "message", locals[:message].id %>
    <p class="button-submit">
      <%= f.submit "Guardar", :class => "submit-message-#{locals[:message].id}" %>
    </p>
    <% elsif locals[:publication] %>
      <%= hidden_field_tag "publication", locals[:publication].id %>
    <p class="button-submit">
      <%= f.submit "Guardar", :class => "submit-message-#{locals[:publication].id}" %>
    </p>
    <% end %>
  <% end %>
</div>


