<div class=" under-nav group-index">
  <div class="task-index group-inner">
    <% searched_user = check_user(current_user) %>
    <div class="task-assignments">
      <% if searched_user == Admin || searched_user == Teacher %>
        <%= render "task_title.html.erb" %>
      <% else %>
        <% if @language %>
          <%= render "task_es.html.erb" %>
        <% else %>
          <%= render "task_en.html.erb" %>
        <% end %>
      <% end %>
    </div>
    <div class="task-tasks forums">
      <% if searched_user == Teacher  %>
        <%= render "task_form.html.erb" %> 
      <% elsif searched_user == Student %>
        <div class="forum-title">
          <% if @language %>
            <h2>Mi Tarea:</h2>
          <% else %>
            <h2>My tasks:</h2>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Regresar", groups_path, class: "btn btn-sm back-button" %>
        <div class="forum-title">
          <h2>Tarea del Grupo:</h2>
        </div>
      <% end %>
      <div>
        <hr>
        <%= render "tasks" %>
      </div> 
    </div>
  </div>
</div>
