<div class="task-index container under-nav">
    <% searched_user = check_user(current_user) %>
    <div class="task-assignments">
        <% if searched_user == Admin || searched_user == Teacher %>
            <h4>Todas las Tareas:</h4>
            <% @group.course.assignments.each do |assignment| %>
                <%= link_to assignment_path(assignment.id, :group => @group.id) do %>
                    <p><strong><%= assignment.name %></strong> <span><%= assignment.points %> Creditos</span></p>
                <% end %>
            <% end %>
        <% else %>
            <h4>Mis Tareas Terminadas:</h4>
            <% total_points_done = 0 %>
            <% finished_ass(current_user, @group.id).each do |f| %>
                <% if f.assignment.course == @group.course %>
                    <% total_points_done += f.assignment.points %>
                    <p><%= f.assignment.name %>: <span><%= f.assignment.points %></span></p>
                <% end %>
            <% end %>
            <p>Tienes <%= total_points_done %> Creditos de 40</p>
        <% end %>
    </div>
    <div class="task-tasks forums">
        
        <% if searched_user == Teacher  %>
            <p><%= link_to "Regresar", rooms_path %></p>
            <div class="forum-title">
                <h2>Crear una Tarea para el Grupo <%= @group.name %></h2>
                <%= form_for :task, url: tasks_path  do |f| %>  
                    <p>
                        <%= f.text_area :body, :class => "text-area", :placeholder => "Escribe aquí..." %>
                    </p>
                    <p>
                        <%= f.label :Terminar_antes_de %>
                        <%= f.date_field :end %>
                        <%= hidden_field_tag "group", @group.id  %>
                    </p>
                    <p>
                        <%= f.label :link %>
                        <%= f.text_field :link %>
                    </p>
                    <p>
                        <%= f.label :adjuntar_archivo %>
                        <%= f.file_field :document, :class => "file-field"  %>
                    </p>

                    <%= f.submit "Crear Tarea" %>
                <% end %>
            </div>
            <br>
        <% elsif searched_user == Student %>
            <div class="forum-title">
                <h2>Mi Tarea:</h2>
            </div>
        <% else %>
            <%= link_to "Regresar", groups_path %>
            <div class="forum-title">
                <h2>Tarea del Grupo:</h2>
            </div>
        <% end %>

        <div>
            <hr>
            <%= render "tasks" %>
        </div> 
    </div>
</div>