<div class="under-nav group-index">
  <div class="group-inner">
  <p><%= link_to 'Regresar', root_path, class: "btn btn-sm back-button" %></p>
  <h1><%= @users.count %> Usuarios</h1>
  <p><%= link_to "Clic aquí para descargar los datos de los estudiantes", students_path(format: :xlsx) %></p>
  <input type="text" class="mySearch" id="studentTableSearch" placeholder="Buscar por Nombre..">
  <table class="table table-hover table-bordered" id="studentTableTable">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Calle</th>
        <th>Ciudad</th>
        <th>Estado</th>
        <th>Tel.</th>
        <th>Login's</th>
      </tr>
    </thead>
      <tbody>
        <% @users.each do |s| %>
          <tr>
            <td><%= link_to s.name, student_path(s.id) %></td>
            <td><%= s.lastname %></td>
            <td><%= mail_to s.email %></td>
            <td><%= s.street %></td>
            <td><%= s.city %></td>
            <td><%= s.state %></td>
            <td><%= s.tel %></td>
            <td><%= s.login_counts %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>