<div class="student-index">
    <h1>Estudiantes</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Grupo</th>
                <th>Calle</th>
                <th>C.P</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th>Tel</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |s| %>
                <% if check_user(s) == Student || check_user(s) == "new_user" %>
                    <tr>
                        <td><%= link_to s.name, updatepassword_path(s.id) %></td>
                        <td><%= s.lastname %></td>
                        <td><%= s.email %></td>
                        <% if check_user(s) == Student %>
                            <td><%= (Student.find_by(user: s)).group.name %></td>
                        <% else %>
                            <td></td>
                        <% end %>
                        <td><%= s.street %></td>
                        <td><%= s.cp %></td>
                        <td><%= s.city %></td>
                        <td><%= s.state %></td>
                        <td><%= s.tel %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>