<div class="student-index">
    <h1>Estudiantes</h1>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th><%= sortable "name", "Nombre" %></th>
                <th><%= sortable"lastname", "Apellido" %></th>
                <th><%= sortable "email", "Email" %></th>
                <th><%= sortable "group", "Grupo" %></th>
                <th><%= sortable "street", "Calle" %></th>
                <th><%= sortable "cp", "C.P" %></th>
                <th><%= sortable "city", "Ciudad" %></th>
                <th><%= sortable "state", "Estado" %></th>
                <th><%= sortable "tel", "Tel" %></th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |s| %>
                <% if check_user(s) == Student || check_user(s) == "new_user" %>
                    <tr>
                        <td><%= link_to s.name, updatepassword_path(s.id) %></td>
                        <td><%= s.lastname %></td>
                        <td><%= s.email %></td>
                        <% if check_user(s) == Student %>
                            <td><%= (Student.find_by(user: s)).group.name %></td>
                        <% else %>
                            <td></td>
                        <% end %>
                        <td><%= s.street %></td>
                        <td><%= s.cp %></td>
                        <td><%= s.city %></td>
                        <td><%= s.state %></td>
                        <td><%= s.tel %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
</div>