<div class="under-nav group-index">
  <div class="community-index">
    <div class="list">
      <ul>
        <li>
          <%= link_to  publications_path, class: "btn btn-sm link-button" do %>
            <p>Foro Comunidad</p>
            <%= image_tag "chat-512.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  calendars_path, class: "btn btn-sm link-button" do %>
            <p>Calendario</p>
            <%= image_tag "calendario.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  todos_path, class: "btn btn-sm link-button" do %>
            <p>Lista de tareas</p>
            <%= image_tag "task.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  groseries_index_path, class: "btn btn-sm link-button" do %>
            <p>Lista de compras</p>
            <%= image_tag "shop.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  weather_index_path, class: "btn btn-sm link-button" do %>
            <p>El Tiempo</p>
            <%= image_tag "weather-1.jpg", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  translate_index_path, class: "btn btn-sm link-button" do %>
            <p>Traductor</p>
            <%= image_tag "trans.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to  grammar_index_path, class: "btn btn-sm link-button" do %>
            <p>Gramática</p>
            <%= image_tag "gramm.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
      </ul>
    </div>
    <div class="community-forum">
      <div class="forum-title">
      <h2>Comunidad Superate y Triunfa</h2>
        <%= form_for :publication, url: publications_path, remote: "true"  do |f| %>  
          <p>
            <%= f.label :adjuntar_imagen %>
            <%= f.file_field :avatar, :class => "file-field" %>
          </p>
          <p>
            <%= f.label :adjuntar_archivo %>
            <%= f.file_field :document, :class => "file-field"  %>
          </p>
          <p>
            <%= f.label :link %>
            <%= f.text_field :link %>
          </p>
          <p>
            <%= f.text_area :body, :class => "text-area", :id => "publication-text", :placeholder => "Escribe aquí..." %>
          </p>
          <%= f.submit "Enviar Mensaje", :class => "publication_send", :id => "publication-text-submit" %>
        <% end %>
      </div>
      <br>
      <div id="publication-table" class="all-forums">
        <%= render "publications/publications" %>
      </div> 
      <p><%= link_to "Ver más Mensajes", publications_path(limit: (@publications_limit.to_i + 5)) %></p>
    </div>
    <div class="community-flyers">
      <%= render "flyers/index", locals: { searched_user: @searched_user } %>
    </div>
  </div>
</div>