<div class="article-index">
  <% if @spanish %>
    <%= render "articles/index_es.html.erb" %>
  <% else %>
    <%= render "articles/index_en.html.erb" %>
  <% end %>
  <div>
    <% @articles.each do |article| %>
      <% if article.link === "" || article.link === nil %>
        <%= link_to article.document.url, target: "_blank" do %>
          <h3><%= article.title %></h3>
          <p class="article-body"><%= article.body %></p>
        <% end %>
      <% else %>
        <%= link_to article.link, target: "_blank" do %>
          <h3><%= article.title %></h3>
          <p class="article-body"><%= article.body %></p>
        <% end %>
      <% end %>
      <% if @searched_user == Admin %>
        <%= link_to article_path(article.id), method: "delete" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
