<div>
    
    <div class="flyers">
        <% for flyer in @flyers %>
            <div>
                <%= image_tag flyer.avatar.url(:medium) %>
                <% if @searched_user == Admin %> 
                    <%= link_to flyer_path(flyer.id), :method => "delete" do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %>
                <% end %>
            </div><br>
        <% end %>
    </div>
    <%= render "layouts/errors" %>
    <% if @searched_user == Admin %>
        <%= form_for :flyer, url: flyers_path do |f| %>
        <p>
            <%= f.label :nombre %>
            <%= f.text_field :name %>
        </p> 
        <p>
            <%= f.label :adjuntar_imagen %>
            <%= f.file_field :avatar %>
        </p>
        <p>
            <%= f.submit "Guardar" %>
        </p>
        <% end %>
    <% end %>

</div>