<div class="under-nav group-index">
  <div class="community-index">
    <div class="list">
      <ul class="flex-change">
        <li>
          <%= link_to spaces_path, class: "btn btn-sm link-button active" do %>
            <p>Foros</p>
            <%= image_tag "chat-512.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to calendars_path, class: "btn btn-sm link-button" do %>
            <p>Calendario</p>
            <%= image_tag "calendario.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to todos_path, class: "btn btn-sm link-button" do %>
            <p>Lista de tareas</p>
            <%= image_tag "task.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to groseries_index_path, class: "btn btn-sm link-button" do %>
            <p>Lista de compras</p>
            <%= image_tag "shop.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to weather_index_path, class: "btn btn-sm link-button" do %>
            <p>El Tiempo</p>
            <%= image_tag "weather-1.jpg", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to translate_index_path, class: "btn btn-sm link-button" do %>
            <p>Traductor</p>
            <%= image_tag "trans.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to grammar_index_path, class: "btn btn-sm link-button" do %>
            <p>Gramática</p>
            <%= image_tag "gramm.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
        <li>
          <%= link_to map_index_path, class: "btn btn-sm link-button" do %>
            <p>Mapa</p>
            <%= image_tag "pin.png", class: "images-link-comunity" %> 
          <% end %>
        </li>
      </ul>
    </div>
    <div class="publication-themes">
      <h3>Todos los themas:</h3>
      <% @spaces.each do |space| %>
        <div>
          <%= link_to space.name, space_path(space), class: "btn btn-sm space-button" %>
          <% searched_user = check_user(current_user) %>
          <% if searched_user == Admin %>
            <%= link_to space_path(space), :method => "delete" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="create-theme">
    <p class="back-comunity"><%= link_to "Regresar a la comunidad", comunity_index_path, class: "btn btn-sm back-button" %></p>
      <p>Crear thema nueva</p>
        <div>
          <%= form_for :space, url: spaces_path do |f| %>
            <p>
              <%= f.label :thema %>
              <%= f.text_field :name %>
            </p>
            <p>
              <%= f.submit "Gurardar" %>
            </p>
          <% end %>
        </div>
    </div>
  </div>
</div>