<div class="under-nav group-index">
  <div class="community-index">
    <%= render "comunity/nav.html.erb" %>
    <div class="publication-themes">
      <% if @spanish %>
        <h3>Todos los temas:</h3>
      <% else %>
        <h3>All themes:</h3>
      <% end %>
      <% @spaces.each do |space| %>
        <div>
          <%= link_to space.name, space_path(space), class: "btn btn-sm space-button" %>
          <% if @searched_user == Admin %>
            <%= link_to space_path(space), :method => "delete" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="create-theme">
      <%= render "spaces/back_community_button" %>
      <%= render "spaces/form.html.erb" %>
    </div>
  </div>
</div>