<% @talks.each do |t| %>
<div id="talk-to-delete-id<%= t.id %>">
  <div class="chats">
    <div>
      <div class="chat-user">
        <div class="like">
          <% if t.likes.count > 0 %>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i><span class="like-count"> <%= t.likes.count %></span>  
          <% end %>
        </div>
        <div class="user-name">
          <%= t.user.name %> <%=t.user.lastname %> dijo:
        </div>
        <% if t.user == current_user %>
          <div>
            <%= link_to talk_path(t.id), :method => "delete" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="chat-body">
        <%= t.body %>
        <% if t.link != nil %>
          <%= link_to t.link, t.link, :target => '_blank' %>
        <% end %>
        <% if t.document_file_name != nil %>
         <p>Descargar el archivo: <%= link_to t.document_file_name, download_path(t.id, Talk) %></p>
        <% end %> 
      </div>
      <div class="chat-image">
      <% if t.avatar_file_name != nil %>
      <br>
      <%= image_tag t.avatar.url(:medium) %>
      <br>
      <% end %>
      </div>
      <div class="chat-fin">
      <small>el <%= l t.created_at, format: :short %></small>
      </div>
    </div>
  </div>
  <%= render "comments/all", locals: { forum: "talk", chat: t }  %>
  <div class="comment">
    <div class="add-like">
      <% if t.likes.where(user_id: current_user).count == 0 %>
          <%= link_to likes_path(model: Talk, id: t.id), :class => "likeable", remote: true do %>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"> Me Gusta</i>
          <% end %>
      <% end %>
    </div>
    <div class="show-comments">
      <i class="fa fa-comment-o" aria-hidden="true"> Comentar</i>
    </div>
    <%= render "comments/new", locals: { talk: t } %>
  </div>
</div>
<hr>
<% end %>