<% @talks.each do |t| %>
    <div class="chats">
        <div class="chat-user">
        <%= t.user.name %> <%=t.user.lastname %> dijo:
        </div>
        <div class="chat-body">
        <%=t.body %>
        </div>
        <div class="chat-image">
        <% if  t.avatar_file_name != nil %>
        <br>
        <%= image_tag t.avatar.url(:medium) %>
        <br>
        <% end %>
        </div>
        <div class="chat-fin">
        <small>el <%= l t.created_at, format: :short %></small>
        </div>
    </div>
    <%= render "comments/all", locals: { chat: t } %>
    <div class="comment">
        <div class="show-comments"><i class="fa fa-comment-o" aria-hidden="true"> Comentar</i></div>
        <%= render "comments/new", locals: { talk: t } %>
    </div>
    <hr>
<% end %>