<%= form_for :group, url: groups_path do |f| %>
    <p>
        <%= f.label :nombre %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :clave %>
        <%= f.text_field :key %>
    </p>
    <p>
        <%= f.label :instructor %>
        <%= f.select(:teacher, teacher_array ) %>
    </p>
    <p>
        <%= f.label :cursos %>
        <%= f.select(:course, course_array) %>
    </p>
    <p>
        <%= f.submit "Guardar Grupo" %>
    </p>
<% end %>