<%= form_for :group, url: groups_path do |f| %>
  <p>
    <%= f.label :ciudad %>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :clave %>
    <%= f.text_field :key %>
  </p>
  <p>
    <%= f.label :instructor %>
    <%= f.select(:teacher, teacher_array ) %>
  </p>
  <p>
    <%= f.label :curso %>
    <%= f.select(:course, course_array) %>
  </p>
  <p>
    <%= f.label :fecha_inicio %>
    <%= f.date_field :startdate %>
  </p>
  <p>
    <%= f.label :fecha_final %>
    <%= f.date_field :enddate %>
  </p>
  <p>
    <%= f.label :lunes %>
    <%= f.check_box :days, {multiple: true}, "Lunes", nil %>
  </p>
  <p>
    <%= f.label :martes %>
    <%= f.check_box :days, {multiple: true}, "Martes", nil %>
  </p>
  <p>
    <%= f.label :miercoles %>
    <%= f.check_box :days, {multiple: true}, "Miercoles", nil %>
  </p> 
  <p>
    <%= f.label :jueves %>
    <%= f.check_box :days, {multiple: true}, "Jueves", nil %>
  </p> 
  <p>
    <%= f.label :viernes %>
    <%= f.check_box :days, {multiple: true}, "Viernes", nil %>
  </p>
  <p>
    <%= f.label :sabado %>
    <%= f.check_box :days, {multiple: true}, "Sabado", nil %>
  </p> 
  <p>
    <%= f.label :domingo %>
    <%= f.check_box :days, {multiple: true}, "Domingo", nil %>
  </p>
    <%= f.submit "Guardar Grupo" %>
  </p>
<% end %>