<div  class="under-nav group-index">
  <div class="under-nav group-inner">
  <% if @searched_user == Admin %>
    <p><%= link_to "Regresar", groups_path, class: "btn btn-sm back-button" %></p>
    <p><%= link_to "Clic aquí para descargar los datos de este Grupo", group_path(@group.id, format: :xlsx) %></p>
  <% elsif @searched_user == Teacher  %>
    <p><%= link_to "Regresar", rooms_path, class: "btn btn-sm back-button" %></p>
  <% end %>
  <p><strong>Nombre de Grupo: </strong><%= @group.name %></p>
  <p><strong>Ciudad: </strong><%= @group.city %></p>
  <p><strong>Curso: </strong>
    <%= link_to @group.course.link, target: "_blank" do %>
      <%= @group.course.name %>
    <% end %>
  </p>
  <% if @group.course.document_file_name != nil %>
    <%= link_to coursedownload_path(@group.course.id) do %>
      <p><i class="fas fa-file"> Clic aquí para descargar Curso</i></p>
    <% end %>
  <% end %>
  <p><strong>Clave: </strong><%= @group.key %></p>
  <% full_name = "#{@group.teacher.user.name} #{@group.teacher.user.lastname}" %>
  <p><strong>Instructor: </strong><%= link_to full_name, teacher_path(@group.teacher.id) %></p>
  <p><strong>Fecha Inicio: </strong><%= @group.startdate %></p>
  <p><strong>Fecha Final: </strong><%= @group.enddate %></p>
  <p><strong>Dias: </strong> 
  <% @group.days.each do |day| %>
    <%= day %>
  <% end %>
  </p>
  <% if @group.activ == true %>
      <p><strong>Activo: </strong>Si</p>
      <p><strong><%= link_to "Foro", room_path(Room.find_by(group: @group)) %></strong></p>
      <p><strong><%= link_to "Tarea", tasks_path(group: @group) %></strong></p>
      <% if @searched_user == Admin %>
          <p id="edit-group">Editar Grupo</p>
          <div id="edit-group-hidden">
              <%= render "edit.html.erb" %>
          </div>
      <% end %>
      <h3>Estudiantes:</h3>
      <input type="text" class="mySearch" id="studentGroupsTableSearch" placeholder="Buscar por Nombre..">
      <table class="table table-hover table-bordered" id="group-table-show">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Calle</th>
            <th>Ciudad</th>
            <th>C.P.</th>
            <th>Estado</th>
            <th>Telefono</th>
          </tr>
        </thead>
        <tbody>
          <% @group.students.each do |student| %>
            <tr>
              <% if student.user.avatar_file_name != nil %>
                <td><%= image_tag student.user.avatar.url(:thumb), :class => "user-avatar" %></td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= link_to student.user.name, student_path(student.user.id) %></td>
              <td><%= student.user.lastname %></td>
              <td><%= mail_to student.user.email %></td>
              <td><%= student.user.street %></td>
              <td><%= student.user.city %></td>
              <td><%= student.user.cp %></td>
              <td><%= student.user.state %></td>
              <td><%= student.user.tel %></td>
            </tr>    
          <% end %>
        </tbody>
      </table>
  <% else %>
    <p>Activo: No</p>
    <h3>Estudiantes:</h3>
    <input type="text" class="mySearch" id="studentIgroupsTableSearch" placeholder="Buscar por Nombre..">
    <table class="table table-hover table-bordered" id="igroup-table-show">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Calle</th>
          <th>Ciudad</th>
          <th>C.P.</th>
          <th>Estado</th>
          <th>Telefono</th>
        </tr>
      </thead>
      <tbody>
        <% @igroups.each do |group| %>
          <tr>
            <td><%= group.user.name %></td>
            <td><%= group.user.lastname %></td>
            <td><%= mail_to group.user.email %></td>
            <td><%= group.user.street %></td>
            <td><%= group.user.city %></td>
            <td><%= group.user.cp %></td>
            <td><%= group.user.state %></td>
            <td><%= group.user.tel %></td>
          </tr>    
        <% end %>
      </tbody>
    </table>
  <% end %> 
</div>
</div>