<div class="under-nav container">
    <h1>Grupos activos</h1>
    <input type="text" class="mySearch" id="groupTableSearch" placeholder="Buscar por Nombre..">
    <table class="table table-hover table-bordered" id="groupTableTable">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Foro</th>
                <th scope="col">Tarea</th>
                <th scope="col">Instructor</th>
                <th scope="col">Curso</th>
                <th scope="col">clave</th>
                <th scope="col">Estudiantes</th>
                <th scope="col">Activo</th>
            </tr>
        </thead>
        <tbody>
            <% @groups.each do |g| %>
            <tr>
                <td><%= link_to g.name, group_path(g.id) %></td>
                <% if g.activ %>
                    <td><%= link_to "Foro", room_path(Room.find_by(group: g)) %></td>
                    <td><%= link_to "Tarea", tasks_path(group: g) %></td>
                <% else %>
                    <td></td>
                    <td></td>
                <% end %>
                <td><%= link_to g.teacher.user.name, teacher_path(g.teacher.id) %> <%= g.teacher.user.lastname %></td>
                <td><%= link_to g.course.name, course_path(g.course.id) %></td>
                <td><%= g.key %></td>
                <td><%= g.activ ? g.students.count : "Grupo Cerrado" %></td>
                <td><%= g.activ ? "Si" : "No" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div>
        <%= render "layouts/errors" %>
        <p id="new-group">Crear nuevo Grupo</p>
        <div id="new-group-hidden">
            <%= render "new.html.erb" %>
        </div>
    </div>
    <p><%= link_to "Pagina de Inicio", root_path %></p>
</div>
