<div>
    <p>Nombre de Grupo: <%= @group.name %></p>
    <p>Curso: <%= @group.course.name %></p>
    <p>Clave: <%= @group.key %></p>
    <p>Facilitador: <%= @group.teacher.user.name %> <%= @group.teacher.user.lastname %></p>
    <p>Activo: 
        <% if @group.activ == true %>
         Si
        <% else %>
         No
        <% end %> 
    </p>
</div>
<p><%= link_to "Editar Curso", edit_group_path(@group.id) %></p>
<p><%= link_to "Regresar", groups_path %></p>