<div class="course-index">
    <p>Nombre de Grupo: <%= @group.name %></p>
    <p>Curso: <%= @group.course.name %></p>
    <p>Clave: <%= @group.key %></p>
    <% full_name = "#{@group.teacher.user.name} #{@group.teacher.user.lastname}" %>
    <p>Instructor: <%= link_to full_name, teacher_path(@group.teacher.id) %></p>
    <% if @group.activ == true %>
        <p>Activo: Si</p>
        <% if check_user(current_user) == Admin %>
            <p id="edit-group">Editar Grupo</p>
            <div id="edit-group-hidden">
                <%= render "edit.html.erb" %>
            </div>
        <% end %>
        <h3>Estudiantes:</h3>
        <table class="table table-hover table-bordered" id="group-table-show">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% @group.students.each do |student| %>
                <tr>
                    <td><%= student.user.name %></td>
                    <td><%= student.user.lastname %></td>
                    <td><%= student.user.email %></td>
                </tr>    
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p>Activo: No</p>
        <h3>Estudiantes:</h3>
        <table class="table table-hover table-bordered" id="igroup-table-show">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <% @igroups.each do |group| %>
                <tr>
                    <td><%= group.user.name %></td>
                    <td><%= group.user.lastname %></td>
                    <td><%= group.user.email %></td>
                </tr>    
                <% end %>
            </tbody>
        </table>

    <% end %> 
</div>

<% searched_user = check_user(current_user) %>
<% if searched_user == Admin %>
    <p><%= link_to "Regresar", groups_path %></p>
<% elsif searched_user == Teacher  %>
    <p><%= link_to "Regresar", rooms_path %></p>
<% end %>
    