<div class="course-index">
    <% searched_user = check_user(current_user) %>
    <% if searched_user == Admin %>
        <p><%= link_to "Regresar", groups_path %></p>
    <% elsif searched_user == Teacher  %>
        <p><%= link_to "Regresar", rooms_path %></p>
    <% end %>
    <p>Nombre de Grupo: <%= @group.name %></p>
    <p>Curso: <%= @group.course.name %></p>
    <% if @group.course.document_file_name != nil %>
        <%= link_to coursedownload_path(@group.course.id) do %>
            <p><i class="fas fa-file"> Click aqui para bajar Curso</i></p>
        <% end %>
    <% end %>
    <p>Clave: <%= @group.key %></p>
    <% full_name = "#{@group.teacher.user.name} #{@group.teacher.user.lastname}" %>
    <p>Instructor: <%= link_to full_name, teacher_path(@group.teacher.id) %></p>
    <% if @group.activ == true %>
        <p>Activo: Si</p>
        <% if check_user(current_user) == Admin %>
            <p id="edit-group">Editar Grupo</p>
            <div id="edit-group-hidden">
                <%= render "edit.html.erb" %>
            </div>
        <% end %>
        <h3>Estudiantes:</h3>
        <input type="text" class="mySearch" id="studentGroupsTableSearch" placeholder="Buscar por Nombre..">
        <table class="table table-hover table-bordered" id="group-table-show">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">C.P.</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <% for student in @group.students %>
                <tr>
                    <td><%= link_to student.user.name, updatepassword_path(student.user.id) %></td>
                    <td><%= student.user.lastname %></td>
                    <td><%= student.user.email %></td>
                    <td><%= student.user.street %></td>
                    <td><%= student.user.city %></td>
                    <td><%= student.user.cp %></td>
                    <td><%= student.user.state %></td>
                    <td><%= student.user.tel %></td>
                </tr>    
                <% end %>
            </tbody>
        </table>
    <% else %>
        <p>Activo: No</p>
        <h3>Estudiantes:</h3>
        <input type="text" class="mySearch" id="studentIgroupsTableSearch" placeholder="Buscar por Nombre..">
        <table class="table table-hover table-bordered" id="igroup-table-show">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Email</th>
                    <th scope="col">Calle</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">C.P.</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Telefono</th>
                </tr>
            </thead>
            <tbody>
                <% for group in @igroups %>
                <tr>
                    <td><%= group.user.name %></td>
                    <td><%= group.user.lastname %></td>
                    <td><%= group.user.email %></td>
                    <td><%= group.user.street %></td>
                    <td><%= group.user.city %></td>
                    <td><%= group.user.cp %></td>
                    <td><%= group.user.state %></td>
                    <td><%= group.user.tel %></td>
                </tr>    
                <% end %>
            </tbody>
        </table>

    <% end %> 
</div>


    