<div class="under-nav library-index">
  <div class="library-innert">
    <% if @spanish %>
      <p><%= link_to 'Regresar', root_path, class: "btn btn-sm back-button" %></p>
      <h2>Biblioteca</h2>
      <h4>Para descargar el archivo haz clic en el nombre del archivo!</h4>
    <% else %>
      <p><%= link_to 'Back', root_path, class: "btn btn-sm back-button" %></p>
      <h2>Libray</h2>
      <h4>To download the file, click on the file name!</h4>
    <% end %>
    <hr>
    <% if @searched_user == Admin %>
      <%= render "layouts/errors" %>
      <p class="create-new-folder-text"><i class="fa fa-arrow-right" aria-hidden="true"></i> Crear una nueva carpeta</p>
      <div class="create-new-folder">
          <%= render "folders/new" %>
      </div>
    <% end %>
    <br>
    <div class="all-folders">
      <%= render "folders/all" %>
    </div>  
  </div>
</div>
