<!-- <% if current_user.avatar_file_name == nil %>
  <li><%= link_to edituser_path(current_user.id) do %>
    <i class="fas fa-user"></i>
    <%= current_user.name %>
    <% end %>
  </li>
<% else %>
  <li><%= link_to edituser_path(current_user.id) do %>
    <i class="fas fa-user"></i> <%= image_tag current_user.avatar.url(:thumb), :class => "user-avatar" %>
    <% end %>
  </li>
<% end %>
<li><%= link_to courses_path do %>
  <i class="fas fa-box-open"></i> Cursos
  <% end %>
</li>
<li><%= link_to teachers_path do %>
  <i class="fas fa-user-circle"></i> Instr./Admin 
  <% end %>
</li>
<li><%= link_to groups_path do %>
  <i class="fas fa-users"></i> Grupos
  <% end %>
</li>
<li><%= link_to students_path do %>
  <i class="fas fa-user-circle"></i> Estud.
  <% end %>
</li>
<li><%= link_to statistics_path do %>
  <i class="fas fa-chart-line"></i> Estad.
  <% end %>
</li>
<li><%= link_to libraries_path do %>
  <i class="fas fa-book"></i> Bibl.
  <% end %>                   
</li>
<li><%= link_to resources_path do %>
  <i class="fas fa-warehouse"></i> Editar Pag.
  <% end %>                   
</li>
<li><%= link_to comunity_index_path do %>
  <i class="fas fa-child"></i> Com.
  <% end %>
</li> -->
<li>
  <%= link_to welcome_path(current_user.id), method:"delete" do %>
  <i class="fas fa-sign-out-alt"></i> Logout
  <% end %>
</li>