<div>
    <h2>Foro Superate y Triunfa</h2>
    <%= form_for :chat, url: chats_path, remote: "true"  do |f| %>  
        <p>
            <%= f.label :adjuntar_imagen %>
            <%= f.file_field :avatar %>
        </p>
        <p>
            <%= f.text_area :body, :class => "text-area", :id => "wellcome-chat-body" %>
        </p>

        <%= f.submit "Enviar Mensaje", :class => "chat_send"%>
    <% end %>
    <br>
    <hr>
    <div id="chat-table">
            <%= render "chats/chats" %>
    </div> 
        <p><%= link_to "Ver mas Mensajes", root_path(limit: (@chat_limit.to_i + 5)) %></p>
</div>