<div>
    <h2>Forum Superate y Triunfa</h2>
    <%= form_for :chat, url: chats_path do |f| %>  
        <p>
            <%= f.text_area :body, :class => "text-area" %>
        </p>
        <p>
            <%= f.label :adjuntar_imagen %>
            <%= f.file_field :avatar %>
        </p>

        <%= f.submit "Enviar Mensaje", :id => "chat_send", remote: "true" %>
    <% end %>
    <br>
    <hr>
    <div id="chat-table">
            <%= render "chats/chats" %>
    </div> 
</div>