<div id='courselink' class='title-course-one'></div>
<div class='course-general'>
  <div class='title-course-two'>
    <h1>CURSOS</h1>
  </div>
  <div class='course-images'>
    <div class='image-text-course'>
      <div><%= image_tag('course-inline.png', class: 'image-grad-book') %></div>
      <div class='text-text-course'>
        <p>Curso-Basico</p>
        <%= link_to "Leer más", root_path, class: "btn btn-sm link-button-course" %>
      </div>
    </div>
    <div class='course-line'></div>
    <div class='image-text-course'>
      <div><%= image_tag('curso-online.png', class: 'image-grad-book') %></div>
      <div class='text-text-course'>
        <p>Word-Intermedia</p>
        <%= link_to "Leer más", root_path, class: "btn btn-sm link-button-course" %>
      </div>
    </div>
  </div>
</div>
<!-- <br>
<div>
  <div class="courses-title">
    <h1>Cursos</h1>
    <p>Nos dirigimos a la comunidad hispana con una necesidad 
      de mejorar sus habilidades en inglés, finanzas e informática. 
      Les proporcionamos un camino hacia una vida mejor, 
      fortalecer su educación, liderazgo e integración en la sociedad en que viven.
    </p>
  </div>
  <div id="courses">
    <% @course.each do |course| %>
      <div class="items-courses">
      <div><p><%= course.name %></p></div>
        <div>
          <%= link_to new_user_session_path do %>
            <%= image_tag(course.avatar.url, :class => "course-img") %>
          <% end %>
        </div>
        <div class="course-text-desc"></div> 
      </div>
    <% end %>
  </div>
</div> -->