<div class='links-title' id='linkslink'><h1>LINKS</h1></div>
<div class='course-images'>
  <div>
    <%= link_to 'http://www.integrainstitute.org/', :target => "_blank" do %>
      <%= image_tag 'integra.png', :class => "links-imag" %>
    <% end %>
  </div>
  <div>
    <%= link_to 'https://www.parentsalliance.org/', :target => "_blank" do %>
      <%= image_tag 'parents.png', :class => "links-imag" %>
    <% end %>
  </div>
  <div>
    <%= link_to 'https://www.juntospodemos.org/', :target => "_blank" do %>
      <%= image_tag 'juntos.png', :class => "links-imag" %>
    <% end %>
  </div>
</div>



<!-- <div class="links-home" id="linkslink">
  <div class="ressourcen-links-title">
  </div>
  <div class="ressourcen-links-align">
    <% @links.each do |l| %>
      <div class="res-text">
        <div class="all-res-images">
          <%= link_to l.link, :target => "_blank" do %>
              <%= image_tag l.avatar.url(:medium), :class => "links-imag" %>
          <% end %>
        </div>
        <% if current_user %>
          <%= link_to link_path(l), :method => "delete" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %> 
        <% end %>
      </div>
    <% end %>
  </div>
</div> -->