<div class='links-title' id='linkslink'><h1>LINKS</h1></div>
<div class='course-images'>
  <div class='links-responsive'>
    <%= link_to 'http://www.integrainstitute.org/', :target => "_blank" do %>
      <%= image_tag 'integra.png', :class => "links-imag" %>
    <% end %>
  </div>
  <div class='links-responsive'>
    <%= link_to 'https://www.parentsalliance.org/', :target => "_blank" do %>
      <%= image_tag 'parents.png', :class => "links-imag" %>
    <% end %>
  </div>
  <div class='links-responsive'>
    <%= link_to 'https://www.juntospodemos.org/', :target => "_blank" do %>
      <%= image_tag 'juntos.png', :class => "links-imag" %>
    <% end %>
  </div>
</div>