<nav class="navbar navbar-fixed-top text-uppercase bg-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-color"></span>
        <span class="icon-bar icon-color"></span>
        <span class="icon-bar icon-color"></span>
      </button>
      <%= image_tag("logo.png", size: "75x45", alt: "BWTX", :class => "d-inline-block img-nav img-nav-mo img-nav-margin")%>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <% if current_user %>
      <ul class="nav navbar-nav navbar-right" id="my_conversation_id<%= current_user.id %>">
    <% else %>
      <ul class="nav navbar-nav navbar-right">
    <% end %>
        <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>

        <!-- <li><a href="">uno</a></li> -->
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">dos</a></li>
            <li><a href="">tres</a></li>
            <li><a href="">quatro</a></li>
            <li><a href="">cinco</a></li>
          </ul> -->
        <!-- </li>
        <li><a href="">seis</a></li>
        <li><a href="">siete</a></li>
        <li><a href="">ocho</a></li> -->

          <!-- nav for all -->
        <% if !current_user %>
          <li><a href="/#courselink">Cursos</a></li>
          <li><a href="/#linkslink">Links</a></li>
          <li><%= link_to "Entrar", new_user_session_path %></li>
        <% else %>
          <% searched_user = check_user(current_user) %>

          <!-- nav for admin -->
          <% if searched_user == Admin %>
            <li><%= link_to courses_path do %>
              <i class="fas fa-box-open"></i> Cursos
              <% end %>
            </li>
            <li><%= link_to teachers_path do %>
              <i class="fas fa-user-circle"></i> Instructores/Admin 
              <% end %>
            </li>
            <li><%= link_to groups_path do %>
              <i class="fas fa-users"></i> Grupos
              <% end %>
            </li>
            <li><%= link_to students_path do %>
              <i class="fas fa-user-circle"></i> Estudiantes
              <% end %>
            </li>
            <li><%= link_to statistics_path do %>
              <i class="fas fa-chart-line"></i> Estatisticas
              <% end %>
            </li>
            <li><%= link_to libraries_path do %>
              <i class="fas fa-book"></i> biblioteca
              <% end %>
            </li>

            <!-- nav for teachers -->
          <% elsif searched_user == Teacher %>
            <% if (Teacher.find_by(user: current_user)).activ %>
              <li><%= link_to libraries_path do %>
                <i class="fas fa-book"></i> biblioteca
                <% end %>
              </li>
              <li><%= link_to teachers_path do %>
                <i class="fas fa-user-circle"></i> Instructores
                <% end %>
              </li>
              <li><%= link_to rooms_path do %>
                <i class="fas fa-users"></i> Grupos
                <% end %>
              </li>
              <% if current_user.avatar_file_name == nil %>
                <li><%= link_to edituser_path(current_user.id) do %>
                  <i class="fas fa-user"></i>
                  <%= current_user.name %>
                  <% end %>
                </li>
              <% else %>
                <li><%= link_to edituser_path(current_user.id) do %>
                  <i class="fas fa-user"></i> <%= image_tag current_user.avatar.url(:thumb), :class => "user-avatar" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>

            <!-- nav for students -->
            <% elsif searched_user == Student %>
              <% if current_user.avatar_file_name == nil %>
                <li><%= link_to edituser_path(current_user.id) do %>
                  <i class="fas fa-user"></i>
                  <%= current_user.name %>
                  <% end %>
                </li>
              <% else %>
                <li><%= link_to edituser_path(current_user.id) do %>
                  <i class="fas fa-user"></i> <%= image_tag current_user.avatar.url(:thumb), :class => "user-avatar" %>
                  <% end %>
                </li>
              <% end %>
              <li><%= link_to tasks_path(group: Student.find_by(user: current_user).group) do %>
                <i class="fas fa-briefcase"></i> Tareas
                <% end %>
              </li>
              <li><%= link_to finished_assignments_path do %>
                <i class="fas fa-trophy"></i> Logros
                <% end %>
              </li>
              <li><%= link_to room_path(Room.find_by(group: Student.find_by(user: current_user).group.id)) do %>
                <i class="fas fa-comments"></i> Foro
                <% end %>
              </li>
            <% else %>
          <% end %>

          <!-- logout for all -->
          <li><%= link_to welcome_path(current_user.id), method:"delete" do %>
            <i class="fas fa-sign-out-alt"></i> Salida
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>