<div class='logo'>
  <% if current_user %>
    <%= link_to welcome_path(current_user.id), method:"delete" do %>
      <%= image_tag('logo.png', class: 'logo-home') %>
    <% end %>
  <% else %>
    <%= image_tag('logo.png', class: 'logo-home') %>
    <p class="language-choose"><span class="en-es-lang", id="change-lang-to-en">English</span> / <span class="en-es-lang active-lang", id="change-lang-to-es">Spanish</span></p>
  <% end %>
</div>
<% if !current_user %>
  <%= image_tag('elearning.jpg', class: 'top-image') %>
<% end %>
<nav class="navbar text-uppercase bg-color">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-color"></span>
        <span class="icon-bar icon-color"></span>
        <span class="icon-bar icon-color"></span>
      </button>
    <!-- <%= image_tag("logo2.jpg", size: "75x45", alt: "BWTX", :class => "d-inline-block img-nav img-nav-mo img-nav-margin")%> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if current_user %>
        <ul class="nav navbar-nav" id="my_conversation_id<%= current_user.id %>">
        <% if current_user.language == "spanish" %>
          <li>
            <a href="/"><i class="fas fa-home"></i> Inicio</a>
          </li>
        <% else %>
          <li>
            <a href="/"><i class="fas fa-home"></i> Home</a>
          </li>
        <% end %>
      <% else %>
        <ul class="nav navbar-nav">
        <li>
          <a href="/", class="spanish"><i class="fas fa-home"></i> Inicio</a>
          <a href="/", class="english change-language"><i class="fas fa-home"></i> Home</a>
        </li>
      <% end %>

          <!-- nav for all -->
        <% if !current_user %>
          <li>
            <a href="/#courselink", class="spanish">Cursos</a>
            <a href="/#courselink", class="english change-language">Courses</a>
          </li>
          <li>
            <a href="/#ressourcen", class="spanish">Recursos</a>
            <a href="/#ressourcen", class="english change-language">Resources</a>
          </li>
          <li><a href="/#linkslink">Links</a></li>
          <li>
            <%= link_to "Entrar", new_user_session_path(anchor: "link-to-item-login"), class: "spanish" %>
            <%= link_to "Login", new_user_session_path(anchor: "link-to-item-login"), class: "english change-language" %>
          </li>
        <% else %>
          <% if current_user.avatar_file_name == nil %>
            <li><%= link_to edituser_path(current_user.id) do %>
              <i class="fas fa-user"></i>
              <%= current_user.name %>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to edituser_path(current_user.id) do %>
              <i class="fas fa-user"></i> <%= image_tag current_user.avatar.url(:thumb), :class => "user-avatar" %>
              <% end %>
            </li>
          <% end %>
          <% searched_user = check_user(current_user) %>

          <!-- nav for admin -->
        <% if searched_user == Admin %>
          <li><%= link_to courses_path do %>
            <i class="fas fa-box-open"></i> Cursos
            <% end %>
          </li>
          <li><%= link_to teachers_path do %>
            <i class="fas fa-user-circle"></i> Instr./Admin 
            <% end %>
          </li>
          <li><%= link_to groups_path do %>
            <i class="fas fa-users"></i> Grupos
            <% end %>
          </li>
          <li><%= link_to students_path do %>
            <i class="fas fa-user-circle"></i> Estud.
            <% end %>
          </li>
          <li><%= link_to statistics_path do %>
            <i class="fas fa-chart-line"></i> Estad.
            <% end %>
          </li>
          <li><%= link_to libraries_path do %>
            <i class="fas fa-book"></i> Bibl.
            <% end %>                   
          </li>
          <!-- <li><%= link_to resources_path do %>
            <i class="fas fa-warehouse"></i> Editar Pag.
            <% end %>                   
          </li> -->
          <li><%= link_to comunity_index_path do %>
            <i class="fas fa-child"></i> Com.
            <% end %>
          </li>
          <li>
            <%= link_to welcome_path(current_user.id), method:"delete" do %>
            <i class="fas fa-sign-out-alt"></i> Salida
            <% end %>
          </li>

          <!-- nav for teachers -->
        <% elsif searched_user == Teacher %>
          <% if (Teacher.find_by(user: current_user)).activ %>
            <li><%= link_to libraries_path do %>
              <i class="fas fa-book"></i> bibl.
              <% end %>
            </li>
            <li><%= link_to courses_path do %>
              <i class="fas fa-box-open"></i> Cursos
              <% end %>
            </li>
            <li><%= link_to teachers_path do %>
              <i class="fas fa-user-circle"></i> Foro Instr.
              <% end %>
            </li>
            <li><%= link_to rooms_path do %>
              <i class="fas fa-users"></i> Grupos
              <% end %>
            </li>
            <li><%= link_to comunity_index_path do %>
              <i class="fas fa-child"></i> Comunidad
              <% end %>
            </li>
            <li>
              <%= link_to welcome_path(current_user.id), method:"delete" do %>
              <i class="fas fa-sign-out-alt"></i> Salida
              <% end %>
            </li>
          <% end %>
          
          <!-- nav for students -->
          <% elsif searched_user == Student %>
            <% if current_user.language == "spanish" %>
              <%= render "welcome/nav_es.html.erb" %>
            <% else %>
              <%= render "welcome/nav_en.html.erb" %>
            <% end %>
          <% end %>

          

      <% end %>
      </ul>
    </div>
  </div>
</nav>