<div id="online_users" class="currentuser-item-size-one">
  <div class="online-in">
    <%= link_to 'javascript:;', class: "btn btn-sm student-link-button", id: "who-is" do %>
      <p>¿Quien esta en linea?</p>
      <%= image_tag "users.png", class: "images-link-comunity" %> 
    <% end %>
    <div>
    <%= render "./tables/table.html.erb" %>
    </div>
    <div id="who-is-online">
        <% all_users.each do |user| %>
            <% if user.user != current_user %>
                <p id="online<%= user.user.id %>"><%= link_to "#{user.user.name} #{user.user.lastname}", tables_path(user.user.id), :method => "create" %></p>
            <% end %>
        <% end %>
    </div>
  </div>
</div>
