<div class='ressourse-title' id="ressourcen">
  <h1 class="spanish">RECURSOS</h1>
  <h1 class="english change-language">RESOURCES</h1>
</div>
<div class="slide-div-complete">
  <div class="triangleleft" id="arrow-left"></div>
  <div id='slideshow'>
    <div class='res-images'>
      <div class='image-text-ressource'>
        <div><%= image_tag('security.png', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Seguridad<br>en Internet</p>
          <%= link_to "Leer más", 'https://rise.articulate.com/share/-UeJE5hX968FhetbptlRqfLv0egyh3Ea#/?_k=ieejgd', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Internet<br>security</p>
          <%= link_to "Read more", 'https://rise.articulate.com/share/-UeJE5hX968FhetbptlRqfLv0egyh3Ea#/?_k=ieejgd', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
      <div class='image-text-ressource'>
        <div><%= image_tag('bulling.jpg', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Acoso escolar<br>/Bullying</p>
          <%= link_to "Leer más", 'https://rise.articulate.com/share/KVzG5ahtKwC0FzDmOhC-m_1SSVCBh9I2#/?_k=p3ntf5', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Bullying</p>
          <%= link_to "Read more", 'https://rise.articulate.com/share/KVzG5ahtKwC0FzDmOhC-m_1SSVCBh9I2#/?_k=p3ntf5', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
    </div>
    <div class='res-images'>
      <div class='image-text-ressource'>
        <div><%= image_tag('build_house.gif', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Construir<br>tu casa</p>
          <%= link_to "Leer más", 'https://docs.google.com/forms/d/e/1FAIpQLSdlERcdR9Yyg64VKSIAiyAvEUkcJW3MWMVBv87mtxOg8qSuzA/viewform?c=0&w=1', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Build your<br>house</p>
          <%= link_to "Read more", 'https://docs.google.com/forms/d/e/1FAIpQLSdlERcdR9Yyg64VKSIAiyAvEUkcJW3MWMVBv87mtxOg8qSuzA/viewform?c=0&w=1', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
      <div class='image-text-ressource'>
        <div><%= image_tag('reading.png', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Lectura para<br>los niños</p>
          <%= link_to "Leer más", 'http://youplusmeus.org/lo-que-la-lectura-aporta-los-ninos/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Reading for<br>children</p>
          <%= link_to "Read more", 'http://youplusmeus.org/lo-que-la-lectura-aporta-los-ninos/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
    </div>
    <div class='res-images'>
      <div class='image-text-ressource'>
        <div><%= image_tag('citizen.gif', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Ciudadanía</p>
          <%= link_to "Leer más", 'http://www.naleo.org/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Citizenship</p>
          <%= link_to "Read more", 'http://www.naleo.org/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
      <div class='image-text-ressource'>
        <div><%= image_tag('adult.png', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>GED<br>Educación para<br>adultos</p>
          <%= link_to "Leer más", 'https://www.avancehouston.org/adulteducation/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>GED<br>Adult education</p>
          <%= link_to "Read more", 'https://www.avancehouston.org/adulteducation/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
    </div>
    <div class='res-images'>
      <div class='image-text-ressource'>
        <div><%= image_tag('ged-english.png', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>GED / Inglés</p>
          <%= link_to "Leer más", 'https://www.bakerripley.org/services/bakerripley-cleveland-campus', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>GED / English</p>
          <%= link_to "Read more", 'https://www.bakerripley.org/services/bakerripley-cleveland-campus', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
      <div class='image-text-ressource'>
        <div><%= image_tag('becas.jpg', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Prestamos y Becas<br>estudiantiles</p>
          <%= link_to "Leer más", 'http://prestamosybecas.s3-website-us-east-1.amazonaws.com/#/?_k=93w7ny', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Student loans<br>and scholarships</p>
          <%= link_to "Read more", 'http://prestamosybecas.s3-website-us-east-1.amazonaws.com/#/?_k=93w7ny', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
    </div>
    <div class='res-images'>
      <div class='image-text-ressource'>
        <div><%= image_tag('becas.jpg', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Prestamos y Becas<br>estudiantiles</p>
          <%= link_to "Leer más", 'http://prestamosybecas.s3-website-us-east-1.amazonaws.com/#/?_k=93w7ny', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Student loans<br>and scholarships</p>
          <%= link_to "Read more", 'http://prestamosybecas.s3-website-us-east-1.amazonaws.com/#/?_k=93w7ny', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
      <div class='image-text-ressource'>
        <div><%= image_tag('adaptive.jpg', class: 'image-grad-book responsive-image') %></div>
        <div class='text-text-course spanish'>
          <p>Aprendizaje<br>Adaptativo</p>
          <%= link_to "Leer más", 'https://www.ixl.com/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
        <div class='text-text-course english change-language'>
          <p>Adaptive<br>Learning</p>
          <%= link_to "Read more", 'https://www.ixl.com/', class: "btn btn-sm link-button-course", target: '_blank' %>
        </div>
      </div>
    </div>
  </div>
  <div class="triangleright" id="arrow-right"></div>
</div>
