<div class="student-index">
  <div class="student-index-title">
    <div class="header-student-index">
      <h3>WELCOME TO THE PLATFORM</h3>
      <h3>OF SUPERATE Y TRIUNFA</h3>
    </div>
    <div class="text-student-index">
      <p><strong>Congratulations <span><%= current_user.name %> <%= current_user.lastname %></span> <br>
          You took the decision to join the Superate and Triunfa program.<br>
          Here you will find everything you need to finish the course <span><%= Student.find_by(user: current_user).group.course.name %></span>.</strong></p>
    </div>
  </div>
  <div>
    <%= render "online.html.erb" %>
  </div>
  <div>
    <%= link_to (Student).find_by(user: current_user).group.course.link, class: "btn btn-sm student-link-button", target: "_blank" do %>
      <p>My Course</p>
      <%= image_tag "curso_student.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to room_path(Room.find_by(group: Student.find_by(user: current_user).group.id)), class: "btn btn-sm student-link-button" do %>
      <p>Group Forum</p>
      <%= image_tag "chat-512.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to tasks_path(group: Student.find_by(user: current_user).group), class: "btn btn-sm student-link-button" do %>
      <p>My tasks</p>
      <%= image_tag "tarea.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to edituser_path(current_user.id), class: "btn btn-sm student-link-button" do %>
      <p><%= current_user.name %></p>
      <%= image_tag "user1.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to finished_assignments_path, class: "btn btn-sm student-link-button" do %>
      <p>My achievements</p>
      <%= image_tag "pokal.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to comunity_index_path, class: "btn btn-sm student-link-button" do %>
      <p>Comunity</p>
      <%= image_tag "comunity.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
</div>