<div class="student-index">
  <div class="student-index-title">
    <div class="header-student-index">
      <h3>BIENVENIDO AL PORTAL EDUCATIVO</h3>
      <h3>DE SUPERATE Y TRIUNFA</h3>
    </div>
    <div class="text-student-index">
      <p><strong>Felicidades <span><%= current_user.name %> <%= current_user.lastname %></span> <br>
          Tomaste la decisión de unirte al programa de Superate y Triunfa.<br>
          Aqui encuentras todo lo que necesitas para enseñar los cursos:<span>
          <% @course.each do |c| %>
            <%= c.name %>
          <% end %>
          </span>.</strong></p>
    </div>
  </div>
  <div>
    <%= render "online.html.erb" %>
  </div>
  <div>
    <%= link_to rooms_path, class: "btn btn-sm student-link-button" do %>
      <p>Mis Grupos</p>
      <%= image_tag "group1.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to teachers_path, class: "btn btn-sm student-link-button" do %>
      <p>Foro Instructores</p>
      <%= image_tag "chat-512.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to courses_path, class: "btn btn-sm student-link-button" do %>
      <p>Cursos</p>
      <%= image_tag "curso_student.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to libraries_path, class: "btn btn-sm student-link-button" do %>
      <p>Biblioteca</p>
      <%= image_tag "otherbooks.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to edituser_path(current_user.id), class: "btn btn-sm student-link-button" do %>
      <p><%= current_user.name %></p>
      <%= image_tag "user1.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
  <div>
    <%= link_to comunity_index_path, class: "btn btn-sm student-link-button" do %>
      <p>Comunidad</p>
      <%= image_tag "comunity.png", class: "images-link-comunity" %> 
    <% end %>
  </div>
</div>

