
<% if !current_user %>
<div id="index-home">
    <div class="program">
        <div class="program-child">
            <h4>Programa educativo de<br>Superate y Triunfa</h4>
            <p>
            <strong>Una experiencia de aprendizaje práctica<br> que
            enseña Aprendizaje Digital y Alfabetización Financiera
            en una sala de computación siguiendo nuestro
            plan de estudios amigable.</strong>
            </p>
        </div>
    </div>
</div>
<div id="courselink"></div>
<br>
<div>
    <div class="courses-title">
        <h1>Cursos</h1>
    </div>
    <div id="courses">
        <div class="items-courses">
            <div>
                <%= link_to image_tag("word.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>Word Basico</h3>
                <p>Los estudiantes aprenderán<br> a usar Word 2016 para crear<br> y editar documentos simples</p>
            </div> 
        </div>
        <div class="items-courses">
            <div>
                <%= link_to image_tag("excel.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>Excel Basico</h3>
                <p>Los estudiantes crearán y<br> editarán hojas de trabajo y libros<br> de Excel, usarán fórmulas y funciones</p>
            </div> 
        </div>
        <div class="items-courses">
            <div>
                <%= link_to image_tag("power.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>PowerPoint Basico</h3>
                <p>Los estudiantes aprenderán<br> a identificar las características y<br> funciones básicas de PowerPoint</p>
            </div> 
        </div>
    </div>
</div>
<div class="links-home" id="linkslink">
    <div class="links-title">
        <h1>Links</h1>
    </div>
    <div id="links-align">
        <div class="item-links integra"><%= link_to image_tag("integra.png", :class => "course-img"), "http://www.integrainstitute.org/", :target => "_blank" %></div>
        <div class="item-links juntos"><%= link_to image_tag("juntos.png", :class => "course-img"), "http://www.juntospodemos.org/", :target => "_blank" %></div>
        <div class="item-links parents"><%= link_to image_tag("parents.png", :class => "course-img"), "https://www.parentsalliance.org/", :target => "_blank"  %></div>
    </div>
</div>
<%= render 'welcome/footer' %>
<% else %>


<div class="home-currentuser container under-nav">


    <!-- check if user is Admin Student Teacher -->
    <% searched_user = check_user(current_user) %>


    <!-- change online status form current_user -->
    <% if searched_user != "new_user" && !online.online %>
        <% update_online(searched_user) %>
    <% end %>

   
    <!-- user has no group -->
    <% if searched_user == "new_user" %>
        <%= render "./students/new.html.erb" %>



    <!-- Admin user  -->
    <% elsif searched_user == Admin %>
        <%= render "online.html.erb" %>
        <div class="currentuser-item-size-two">
            <br>
            <%= render "chat.html.erb" %>
        </div>
        <div class="currentuser-item-size-three">
        </div>
        

    <!-- Teacher user -->
    <% elsif searched_user == Teacher %>
        <% if (Teacher.find_by(user: current_user)).activ %>
            <%= render "online.html.erb" %>
            <div class="currentuser-item-size-two">
                <br>
                <%= render "chat.html.erb" %>
            </div>
            <div class="currentuser-item-size-three">
            </div>
        <% else %>
            <h1>Este Instructor no es activo. Porfavor contactar a <%= link_to "Superate y Triunfa", "http://www.juntospodemos.org/", :target => "_blank" %> !</h1>
        <% end %>


    <!-- Student user  -->
    <% elsif searched_user == Student %>
    <%= render "online.html.erb" %>
    <div class="currentuser-item-size-two">
        <div>
            <%= link_to (searched_user).find_by(user: current_user).group.course.link, target: "_blank" do%>
            <% image_tag (searched_user).find_by(user: current_user).group.course.avatar.url(:medium) %>
            <% end %>
        </div>
        <br>
        <%= render "chat.html.erb" %>
    </div>
    <div class="currentuser-item-size-three">
    </div>
    <% end %>
</div>
<% end %>




    