
<% if !current_user %>
  <%= render 'welcome/sentence', locals: {text: @sentence} %>
  <%= render 'welcome/courses' %>
  <%= render 'welcome/resources', locals: { resources: @resources} %>
  <%= render 'welcome/links', locals: { links: @links} %>
  <%= render 'welcome/footer' %>
<% else %>
  <div class="home-currentuser under-nav">

    <!-- check if user is Admin Student Teacher -->
    <% @searched_user = check_user(current_user) %>

    <!-- change online status of current_user -->
    <% if @searched_user != "new_user" && !online.online %>
      <% update_online(@searched_user) %>
    <% end %>

    <!-- user has no group -->
    <% if @searched_user == "new_user" %>
      <%= render "community_or_student.html.erb" %> 

    <!-- Admin user  -->
    <% elsif @searched_user == Admin %>
      <%= render "online.html.erb" %>
      <%= render "chat.html.erb" %>
      <%= render "flyers/index", locals: { searched_user: @searched_user } %>
          
      <!-- Teacher user -->
    <% elsif @searched_user == Teacher %>
      <% if (Teacher.find_by(user: current_user)).activ %>
        <%= render "online.html.erb" %>
        <%= render "chat.html.erb" %>
        <%= render "flyers/index", locals: { searched_user: @searched_user } %>
      <% else %>
        <h1>Este Instructor no es activo. Porfavor contactar a <%= link_to "Supérate y Triunfa", "http://www.juntospodemos.org/", :target => "_blank" %> !</h1>
      <% end %>

      <!-- Student user  -->
    <% elsif @searched_user == Student %>
      <%= render "student_index.html.erb" %>
      <!-- <%= render "online.html.erb" %> -->
      <!-- <%= render "chat.html.erb" %> -->
      <!-- <%= render "flyers/index", locals: { searched_user: @searched_user } %> -->
    <% end %>
  </div>
<% end %> 