
<% if !current_user %>
<div id="index-home">
    <div class="program">
        <div class="program-child">
            <h4>Programa educativo de<br>Superate y Triunfa</h4>
            <p>
            Una experiencia de aprendizaje práctica<br> que
            enseña Aprendizaje Digital y Alfabetización Financiera
            en una sala de computación siguiendo nuestro
            plan de estudios amigable.
            </p>
        </div>
    </div>
</div>
<div>
    <div class="courses-title">
        <h1>Cursos</h1>
    </div>
    <div id="courses">
        <div class="items-courses">
            <div>
                <%= link_to image_tag("word.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>Word Basico</h3>
                <p>Los estudiantes aprenderán<br> a usar Word 2016 para crear<br> y editar documentos simples</p>
            </div> 
        </div>
        <div class="items-courses">
            <div>
                <%= link_to image_tag("excel.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>Excel Basico</h3>
                <p>Los estudiantes crearán y<br> editarán hojas de trabajo y libros<br> de Excel, usarán fórmulas y funciones</p>
            </div> 
        </div>
        <div class="items-courses">
            <div>
                <%= link_to image_tag("power.png", :class => "course-img"), new_user_session_path %>
            </div>
            <div class="course-text-desc">
                <h3>PowerPoint Basico</h3>
                <p>Los estudiantes aprenderán<br> a identificar las características y<br> funciones básicas de PowerPoint</p>
            </div> 
        </div>
    </div>
</div>
<div class="links-home">
    <div class="links-title">
        <h1>Links</h1>
    </div>
    <div id="courses">
        <div class="items-courses"><%= link_to image_tag("juntos.jpg", :class => "course-img"), "http://www.juntospodemos.org/", :target => "_blank" %></div>
        <div class="items-courses"><%= link_to image_tag("parents.png", :class => "course-img"), "https://www.parentsalliance.org/", :target => "_blank"  %></div>
    </div>
</div>
<%= render 'welcome/footer' %>
<% else %>


<div class="home-currentuser">
    <% if check_user(current_user) != "new_user" && !online.online %>
        <% update_online(check_user(current_user)) %>
    <% end %>

    <div id="online_users" class="currentuser-item-size-one">
        <p id="who-is">Quien esta en linea?</p>
        <div id="who-is-online">
            <% all_users.each do |user| %>
                    <% if user.user != current_user %>
                    <p id="online<%= user.user.id %>"><%= link_to "#{user.user.name} #{user.user.lastname}", tables_path([current_user, user.user.id]), :method => "create" %></p>
                    <% @table = find_table(current_user, user.user.id) %>
                    <% if @table != nil %>
                        <%= render "./tables/table.html.erb" %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>

    <% searched_user = check_user(current_user) %>

    <% if searched_user == "new_user" %>
        <%= render "./students/new.html.erb" %>

    <% elsif searched_user == Admin %>
    <div class="currentuser-item-size-two">
        <div>
            <p class="all-rooms-text">Mostrar Forums de los grupos</p>
            <div class="all-rooms">
                <% @rooms.each do |r| %>
                    <p><%= link_to r.group.name, room_path(r.id) %> <%=  r.group.key %></p>
                <% end %>
            </div>
        </div>
        <br>
        <%= render "chat.html.erb" %>
    </div>

    <% elsif searched_user == Student %>
    <div class="currentuser-item-size-two">
        <div>
            <%= image_tag (check_user(current_user)).find_by(user: current_user).group.course.avatar.url(:medium) %>
        </div>
        <br>
        <p><%= link_to "Click aqui para entrar al Forum de tu Grupo", room_path(Room.find_by(group: Student.find_by(user: current_user).group.id)) %></p>
        <br>
        <%= render "chat.html.erb" %>
    </div>

    <% elsif searched_user == Teacher %>
    <div class="currentuser-item-size-two">
        <p class="all-rooms-text">Mostrar todos los Grupos a los que pertenezco</p>
        <div class="all-rooms">
            <% @teacher_rooms.each do |r| %>
                <% if r.group.activ %>
                    <p><%=  r.group.name %> <%=  r.group.key %>: <br><%= link_to "Ir a Forum", room_path(r.id) %><br><%= link_to "Ir a Grupo", group_path(r.group.id) %></p>
                <% end %>
            <% end %>
        </div>
        <%= render "chat.html.erb" %>
    </div>
    <% end %>
</div>
<% end %>




    