<div class="edituser">
    <p><%= @user.name %> <%= @user.lastname %></p>
        <%= form_for :user, url: updateuser_path do |f| %>
        <p>
            <%= f.label :cambiar_contraseña %>
            <%= f.text_field :password %>
        </p>
        <p>
            <%= f.submit "Guardar" %>
        </p>
    <% end %>
</div>