<div class="under-nav group-index">
  <div class="text-center">
    <p><%= @user.name %> <%= @user.lastname %></p>
    <p>Contraseña solo valido si son 4 Digitos</p>
      <%= render "layouts/errors" %>
      <%= form_for :user, url: updateuser_path do |f| %>
      <p>
        <%= f.label :cambiar_contraseña %>
        <%= f.text_field :password %>
      </p>
      <p>
        <%= f.submit "Guardar", :onclick => "return confirm('Seguro quieres cambiar la contraseña ?')"  %>
      </p>
    <% end %>
  </div>    
</div>
