<div class="under-nav group-index">
  <div class="text-center">
    <p><%= @user.name %> <%= @user.lastname %></p>
    <p><%= @spanish ? "Contraseña solo valido si son 4 Digitos" : "Password only valid with 4 digits" %></p>
      <%= render "layouts/errors" %>
      <%= form_for :user, url: updateuser_path do |f| %>
      <p>
        <%= f.label :change_password %>
        <%= f.text_field :password %>
      </p>
      <p>
        <%= f.submit "Save", :onclick => "return confirm('Confirm to change password !')"  %>
      </p>
    <% end %>
  </div>    
</div>
