<div class="under-nav group-index">
  <div class="group-inner">
    <p><%= link_to "Regresar al calendario", calendars_path, class: "btn btn-sm back-button" %></p>
    <h3><%= @event.name %></h3>
    <h3><%= @event.start_time %></h3>
    <h3><%= @event.description %></h3>
    <p><%= link_to "borrar evento", event_path(@event.id), method: 'delete' %></p>
  </div>
</div>