<div class="group-index under-nav">
  <div class="community-index">
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <%= render "spaces/back_community_button" %>
      <% if @spanish %>
        <h1>El clima de hoy en <%= current_user.city %></h1>
      <% else %>
        <h1>The Weather today in <%= current_user.city %></h1>
      <% end %>
      <%= image_tag @iconurl, class: "image-weather" %>
      <div class="temp">
        <h3>Temperatura:&nbsp</h3>
        <h3 class="value"><%= @main["temp"] %></h3>&nbsp
        <h3 class="type">°C</h3>&nbsp
        <h3 class="unit"> Cambiar a °F</h3>
      </div>
      <h3>Humedad: <%= @main["humidity"] %> %</h3>
    </div>
  </div>
</div>