<div class="under-nav group-index">
  <div class="group-inner">
    <p><%= link_to "Regresar a la comunidad", publications_path %></p>
    <div>
    <h3>Nuevo evento</h3>
    <%= form_for :event, url: events_path do |f| %>
      <p>
        <%= f.label :nombre %>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :fecha_y_hora %>
        <%= f.datetime_field :start_time %>
      </p>
      <p>
        <%= f.label :comentarios %>
        <%= f.text_field :description %>
      </p>
      <p>
        <%= f.submit "Guardar" %>
      </p>
    <% end %>
    </div>
    <div>
      <%= month_calendar events: @meetings do |date, meetings| %>
        <%= l date, format: :short %>
        <% meetings.each do |meeting| %>
          <div>
            <%= link_to meeting.name, event_path(meeting.id) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>