<div class="conversation-border" id="conv<%= table.id %>">
    <div class="conv-title">
        <div class="conv-name">

                <%= table.user.name %>
       
        </div>

        <div>
            <%= link_to "X", conversation_path(table.id), :class => "conv-x", :method => "DELETE", :remote => "true" %>
        </div>
    </div>

    <%= form_for :conversation, url: conversations_path, :remote => "true" do |f| %>  
        <p>
            <%= f.text_area :body, :class => "text-conversation conversation_content" %>
        </p>
        <%= hidden_field_tag "table", table.id  %>
        <%= f.submit "Enviar Mensaje", :class => "submit_conversation"%>
    <% end %>

    <div id="conv-table<%= table.id %>" class="line-high">
        <% table.conversations.order(created_at: :desc).each do |conv| %>
            <p><%= conv.body %></p>
        <% end %>
    </div>
</div>
<br>