<% if check_user(current_user) == Admin %>
<h1>Instructores</h1>
<input type="text" class="mySearch" id="teacherTableSearch" placeholder="Buscar por Nombre..">
<table class="table table-hover table-bordered" id="teacher-table">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Nombre</th>
            <th scope="col">Appelido</th>
            <th scope="col">Correo</th>
            <th scope="col">Calle</th>
            <th scope="col">C.P</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Estado</th>
            <th scope="col">Tel</th>
            <th>Activo</th>

        </tr>
    </thead>
    <tbody>
        <% for teacher in @teachers %>
        <tr>
            <% if teacher.user.avatar_file_name != nil %>
                <td><%= image_tag teacher.user.avatar.url(:thumb), :class => "user-avatar" %></td>
            <% else %>
                <td></td>
            <% end %>
            <td><%= link_to teacher.user.name, teacher_path(teacher.id) %></td>
            <td><%= teacher.user.lastname %></td>
            <td><%= teacher.user.email %></td>
            <td><%= teacher.user.street %></td>
            <td><%= teacher.user.cp %></td>
            <td><%= teacher.user.city %></td>
            <td><%= teacher.user.state %></td>
            <td><%= teacher.user.tel %></td>
            <td>
                <% if teacher.activ == true %>
                    <i class="fas fa-thumbs-up"></i>
                <% else %> 
                    <i class="fas fa-thumbs-down"></i>
                <% end %>
            </td>
            
        </tr>
        <% end %>
    </tbody>
</table>
<div>
    <p id="new-teacher">Adjuntar Instructor</p>
    <div id="new-teacher-hidden">
        <%= render "new.html.erb" %>
    </div>
</div>
<% end %>