<div class="edit-teacher">
    <%= form_for @teacher.user, url: teacher_path(@teacher.id), method: "put" do |f| %>
        <!-- <p>
            <%= f.label :nombre %>
            <%= f.text_field :name %>
        </p>
        <p>
            <%= f.label :apellido %>
            <%= f.text_field :lastname %>
        </p>
        <p>
            <%= f.label :correo %>
            <%= f.text_field :email %>
        </p> -->
        <p>
            <%= f.label :Foto %>
            <%= f.file_field :avatar, :class => "file-field" %>
        </p>
        <p>
            <%= f.submit "Guardar Cambios" %>
        </p>
    <% end %>
</div>