<div class="course-index">
    <p><strong>Nombre: </strong><%= @teacher.user.name %></p>
    <p><strong>Apellido: </strong><%= @teacher.user.lastname %></p>
    <p><strong>Correo: </strong><%= @teacher.user.email %></p>
    <p><strong>Grupos que pertenece:</strong></p>
    <ul>
        <% @teacher.groups.each do |group| %>
            <% if group.activ? %>
                <li><strong>Nombre Grupo: </strong><%= link_to group.name, group_path(group.id) %></li>
            <% end %>
        <% end %>
    </ul>
    <p><strong>Total Grupos de <%= @teacher.user.name %>: </strong> <%= @teacher.groups.count %></p>
    <p><strong>Grupos Activos: </strong><%= @teacher.groups.where(activ: true).count %></p>
    <p><strong>Grupos Cerrados: </strong><%= @teacher.groups.where(activ: false).count %></p>
</div>
<p><%= link_to "Regresar", teachers_path %></p>
