<div class="alert-login text-center">
  <% if alert %>
    <%= alert %>
  <% end %>
</div>
<div class="text-center flex-container">
  <div class="item-login">
    <%= image_tag "logo.png", :class => "logo_login" %>
  </div>
  <div class="item-login" id="link-to-item-login">
    <h2 class="spanish">Entrar</h2>
    <h2 class="english change-language">Login</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :contraseña, class: "spanish" %>
        <%= f.label :Password, class: "english change-language" %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Entrar", class: "spanish" %>
        <%= f.submit "Login", class: "english change-language" %>
      </div>
    <% end %>
    <div>
    <br>
      <%= link_to "Registrar", new_user_registration_path(anchor: "link-to-item-register"), class: "spanish" %>
      <%= link_to "Register", new_user_registration_path(anchor: "link-to-item-register"), class: "english change-language" %>
    </div>
  </div>
  </div>
</div>
<%= render "footer_barra" %>