
  <div class="alert text-center">
    <% if alert %>
      <%= alert %>
    <% end %>
  </div>
<div class="text-center flex-container">
  <div class="item-login">
    <%= image_tag "logo.png", :class => "logo_login" %>
  </div>
  <div class="item-login">
    <h2>Entrar</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="field">
        <%= f.label :Contraseña %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>
    <div>
    <br>
      <%= link_to "Registrar", new_user_registration_path %>
    </div>
  </div>
  </div>
</div>
<%= render "footer_barra" %>