<div class="forum-title">
  <h3>Group Forum of <%= @room.group.name %></h3>
  <%= form_for :message, url: messages_path, remote: "true" do |f| %>
    <p>
      <%= f.label :attach_image %>
      <%= f.file_field :avatar, :class => "file-field" %>
    </p>
    <p>
      <%= f.label :attach_file %>
      <%= f.file_field :document, :class => "file-field"  %>
    </p>
    <p>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </p>
    <p>
      <%= f.text_area :body, :class => "text-area", :id => "room-message-text", :placeholder => "Write here..." %>
      <%= hidden_field_tag "room", @room.id  %>
    </p>
    <br>
    <%= f.submit "Send Message", :id => "room-message-text-submit" %>
  <% end %>
</div>