<div class="under-nav flyer_forum">
  <div class="forums">
    <% @searched_user = check_user(current_user) %>
    <% if @searched_user == Teacher %>
      <p><%= link_to "Regresar", rooms_path %></p>
    <% elsif @searched_user == Admin %>
      <%= link_to "Regresar", groups_path %>
    <% else %>
      <%= link_to "Regresar", root_path %>

    <% end %>
    <div class="forum-title">
      <h3>Foro del Grupo <%= @room.group.name %></h3>
      <%= form_for :message, url: messages_path, remote: "true" do |f| %>
        <p>
          <%= f.label :adjuntar_imagen %>
          <%= f.file_field :avatar, :class => "file-field" %>
        </p>
        <p>
          <%= f.text_area :body, :class => "text-area", :id => "room-message-text", :placeholder => "Escribe aquí..." %>
          <%= hidden_field_tag "room", @room.id  %>
        </p>
        <br>
        <%= f.submit "Enviar Mensaje", :id => "room-message-text-submit" %>
      <% end %>
    </div>
    <hr>
    <div id="message_room<%= @room.id %>" class="all-forums">
    <%= render "messages/messages" %>
    </div>
    <p><%= link_to "Ver más Mensajes", room_path(@room.id,limit: (@room_limit.to_i + 5)) %></p>
  </div>
  <div class="flyers-index">
      <%= render "flyers/index", locals: { searched_user: @searched_user } %>
  </div>
</div>