<div class="show-room under-nav flyer_forum">
  <div class="forums">
    <% @searched_user = check_user(current_user) %>

    <% if @searched_user == Teacher %>
      <% if @language %>
        <p><%= link_to "Regresar", rooms_path, class: "btn btn-sm back-button" %></p>
      <% else %>
        <p><%= link_to "Back", rooms_path, class: "btn btn-sm back-button" %></p>
      <% end %>     
    <% elsif @searched_user == Admin %>
      <%= link_to "Regresar", groups_path, class: "btn btn-sm back-button" %>
    <% else %>
      <% if @language %>
        <%= link_to "Regresar", root_path, class: "btn btn-sm back-button" %>
      <% else %>
        <%= link_to "Back", root_path, class: "btn btn-sm back-button" %>
      <% end %>
    <% end %>
    
    <% if @language %>
      <%= render "rooms/form_for_rooms_es.html.erb" %>
    <% else %>
      <%= render "rooms/form_for_rooms_en.html.erb" %>
    <% end %>

    <br>
    <div id="message_room<%= @room.id %>" class="all-forums">
      <%= render "messages/messages" %>
    </div>

    <% if @language %>
      <p><%= link_to "Ver más Mensajes", room_path(@room.id,limit: (@room_limit.to_i + 5)) %></p>
    <% else %>
      <p><%= link_to "See more messages", room_path(@room.id,limit: (@room_limit.to_i + 5)) %></p>
    <% end %>
  </div>
  <div class="flyers-index">
    <%= render "flyers/index", locals: { searched_user: @searched_user } %>
  </div>
</div>