<div class="under-nav group-index">
  <div class="community-index">
    <%= render "comunity/nav.html.erb" %>
    <div class="calendar-index">
      <%= render "spaces/back_community_button" %>
      <%= render "form.html.erb" %>
      </div>
      <div class="todos-all">
      <% @todos.each do |todo| %>
        <div class="todo-each" id="todo<%= todo.id %>">
          <% if todo.done %>
            <h3 class="todo-name"><%= todo.name %></h3>
          <% else %>
            <h3 class="todo-name text-design"><%= todo.name %></h3>
          <% end %>
            <p class="todo-done">Hecho</p>
            <p>/</p>
            <p class="todo-delete">Borrar</p>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>