<%= form_for :course, url: course_path(@course.id), method: "put" do |f| %>
  <p>
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </p>
  <!-- <p>
    <%= f.label :fecha_inicio %>
    <%= f.date_field :startdate %>
  </p>
  <p>
    <%= f.label :fecha_final %>
    <%= f.date_field :enddate %>
  </p> -->
    <p>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </p>
  <p>
    <%= f.label :adjuntar_foto %>
    <%= f.file_field :avatar %>
  </p>
  <!-- <p>
    <%= f.label :adjuntar_archivo %>
    <%= f.file_field :document %>
  </p> -->
  <p>
    <%= f.label :activo? %>
    <%= f.check_box :activ %>
  </p>
 
  <p>
    <%= f.submit "Guardar Curso" %>
  </p>
<% end %>
