<div>
  <%= form_for :course, url: courses_path do |f| %>
    <p>
      <%= f.label :nombre %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </p>
    <p>
      <%= f.label :adjuntar_imagen %>
      <%= f.file_field :avatar %>
    </p>
    <!-- <p>
      <%= f.label :adjuntar_archivo %>
      <%= f.file_field :document %>
    </p> -->
    <p>
      <%= f.submit "Crear Curso" %>
    </p>
  <% end %>
</div>