<div class="under-nav course-index">
  <div class="course-inner">
    <% if @spanish %>
      <%= render "courses/title_es.html.erb" %>
    <% else %> 
      <%= render "courses/title_en.html.erb" %>
    <% end %>
    <table class="table table-hover table-bordered" id="course-table">
      <thead>
        <tr>
          <th></th>
          <th><% if @spanish %>Nombre<% else %>Name<% end %></th>
          <!-- <th>Fecha inicio</th>
          <th>Fecha final</th> -->
          <th>Link</th>
          <% if @searched_user == Admin %>
            <th><% if @spanish %>Activo<% else %>Activ<% end %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
          <% if course.avatar_file_name == nil %>
            <th></th>
          <% else %>
            <th><%= image_tag course.avatar.url(:thumb), :class => "user-avatar" %></th>
          <% end %>
          <td><%= link_to course.name, course_path(course.id) %></td>
          <!-- <td><%= course.startdate %></td>
          <td><%= course.enddate%></td> -->
          <td class="break-words"><%= link_to course.link, target: "_blank" do %>
            <%= course.link %>
          <% end %>
          </td>
          <% if @searched_user == Admin %>
            <td>
              <% if @spanish %>
                <%= course.activ ? "Si" : "No" %>
              <% else %>
                <%= course.activ ? "Yes" : "No" %>
              <% end %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @searched_user == Admin %>
      <div>
          <%= render "layouts/errors" %>
          <p id="new-course"><i class="fa fa-arrow-right" aria-hidden="true"></i> <%= @spanish ? "Crear nuevo Curso" : "Create new course" %></p>
          <div id="new-course-hidden">
              <%= render "new.html.erb" %>
          </div>
      </div>
    <% end %>
  </div>
</div>
