<div class="under-nav container">
    <h1>Cursos</h1>
    <input type="text" class="mySearch" id="courseTableSearch" placeholder="Buscar por Nombre..">
    <br>
    <table class="table table-hover table-bordered" id="course-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha inicio</th>
                <th scope="col">Fecha final</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
        <% for course in @courses %>
            <tr>
            <th scope="row"><%= course.id %></th>
            <td><%= link_to course.name, course_path(course.id) %></td>
            <td><%= course.startdate %></td>
            <td><%= course.enddate%></td>
            <td><%= link_to course.link, target: "_blank" do %>
                <%= course.link %>
                <% end %>
            </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <div>
        <p id="new-course">Crear nuevo Curso</p>
        <div id="new-course-hidden">
            <%= render "new.html.erb" %>
        </div>
    </div>
    <p><%= link_to "Pagina de Inicio", root_path %></p>
</div>
