<%= form_for :course, url: courses_path do |f| %>
  <p>
    <%= f.label :nombre %>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :fecha_inicio %>
    <%= f.date_field :start %>
  </p>
  <p>
    <%= f.label :fecha_final %>
    <%= f.date_field :end %>
  </p>
  <!-- <p>
    <%= f.file_field :course %>
  </p> -->
 
  <p>
    <%= f.submit "Crear Curso" %>
  </p>
<% end %>
<%= link_to "Regresar", courses_path %>