<div class="under-nav group-index">
  <div class="group-inner">
    <h1><%= @course.name %></h1>
    <p><%= link_to "Link al curso", @course.link, target: "_blank" %></p>
    <!-- <p>Fecha Inicio: <%= @course.startdate %></p>
    <p>Fecha Final: <%= @course.enddate %></p> -->
    <% if @course.avatar_file_name != nil %>
        <p><%= image_tag @course.avatar.url(:thumb), :class => "course-avatar"%></p>
    <% end %>
    <% if @course.document_file_name != nil %>
            <%= link_to coursedownload_path(@course.id) do %>
            <p><i class="fas fa-file"> <%= @course.name %></i></p>
        <% end %>
    <% end %>
    <hr> 
    <%= render "assignments/show_and_new" %>
    <hr>
    <p id="edit-course">Editar Curso</p>
    <div id="edit-course-hidden">
        <%= render "edit.html.erb" %>
    </div>
    <!-- <p><%= link_to "Borrar Curso", course_path(@course.id), method: "delete" %></p> -->
    <p><%= link_to "Regresar", courses_path, class: "btn btn-sm back-button" %></p>
  </div>
</div>
