<!DOCTYPE html>
<html>
  <head>
    <title>Superate y Triunfa</title>
    <%= action_cable_meta_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'welcome/nav' %>
    <%= yield %>
  </body>
</html>
